body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
}

img {
  max-width: 40px;
  max-height: 40px;
  border: 0px transparent;
  border-radius: 5px;
}
